@import "tailwindcss";

#root {
  min-height: 100vh;
  font-family: "Roboto", sans-serif, Inter, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 5rem;
}

h2 {
  font-size: var(--text-4xl); /* 2.25rem (36px) */
  line-height: var(--text-4xl--line-height);
  margin-bottom: calc(var(--spacing) * 10);
}

h3 {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}
