@import "tailwindcss";

#root {
  min-height: 100vh;
  font-family: "Roboto", sans-serif, Inter, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 5rem;
}
